
# Local .terraform directories
**/.terraform/*

# .tfstate files
**/*.tfstate
**/*.tfstate.*

# Ignore CLI configuration files
**/.terraformrc
**/terraform.rc

#variables
variables.*
deploy*

#file .out
deploy-tftec-lab05.out